@using Auction.Data;
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@model Auction.Models.PasswordViewModel
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var currentUser = await UserManager.GetUserAsync(User);

}
<!--============= Hero Section Starts Here =============-->
<div class="hero-section style-2 pb-lg-400">
    <div class="container">
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/images/banner/hero-bg.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <partial name="_UserPartial" />
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <div class="dash-pro-item mb-30 dashboard-widget">
                            <div class="header">
                                <h4 class="title">Personal Details</h4>
                            </div>
                            <ul class="dash-pro-body">
                                <li>
                                    <div class="info-name">Name</div>
                                    <div class="info-value">@currentUser.Name</div>
                                </li>
                                <li>
                                    <div class="info-name">E-mail</div>
                                    <div class="info-value">@currentUser.Email</div>
                                </li>
                                <li>
                                    <div class="info-name">Phone</div>
                                    <div class="info-value">@currentUser.PhoneNumber</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-12">
                           
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                           @(TempData["Message"])
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        </div>
                    }
                    <form asp-action="PasswordChange" method="post">
                      
                        <div class="col-12">
                          
                            <div class="dash-pro-item mb-30 dashboard-widget">
                                <div class="header">
                                    <h4 class="title">Current Password</h4>
                                    <span class="edit"><i class="flaticon-edit"></i> Edit</span>
                                </div>
                                <ul class="dash-pro-body">
                                    <li>
                                        <div class="info-name">Enter Current Password:</div>
                                        <div class="info-value"> 
                                            <input asp-for="@Model.OldPassword" class="form-control" aria-required="true" required placeholder="Please enter your password." />
                                            <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="dash-pro-item mb-30 dashboard-widget">
                                <div class="header">
                                    <h4 class="title">New Password</h4>
                                    <span class="edit"><i class="flaticon-edit"></i> Edit</span>
                                </div>
                                <ul class="dash-pro-body">
                                    <li>
                                        <div class="info-name">Enter New Password:</div>
                                        <div class="info-value">
                                            <input asp-for="@Model.NewPassowrd" required class="form-control" aria-required="true" placeholder="Please enter your password." />
                                            <span asp-validation-for="@Model.NewPassowrd" class="text-danger"></span>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">

                            <div class="dash-pro-item mb-30 dashboard-widget">
                                <div class="header">
                                    <h4 class="title">Confirm Password</h4>
                                    <span class="edit"><i class="flaticon-edit"></i> Edit</span>
                                </div>
                                <ul class="dash-pro-body">
                                    <li>
                                        <div class="info-name">Confirm New Password:</div>
                                        <div class="info-value">
                                            <input asp-for="@Model.ConfirmPassword" required class="form-control" aria-required="true" placeholder="Please enter your password." />
                                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 mt-3">
                           
                            <button class="custom-button" type="submit">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>